/* small laptops à partir de 1100px */
@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* tablet 900px */
@media (max-width: 900px) {
    .main_banner p {
        padding: 0 6rem;
    }

    .searchdomain_container {
        padding: 2rem 4rem;
    }
}

/* celular 576px */
@media (max-width: 896px) {
    html, body {
        overflow-x: hidden;
    }

    .main-banner p {
        padding: 0 2rem;
    }
    
    .navbar_items li {
        font-size: 8px;
        margin-left: 3px;
    }

    .services_container ul {
        flex-direction: column;
    }

    .plans_container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .searchdomain_container h2 {
        font-size: 28px;
    }

    .searchdomain_container input[type="text"] {
        width: 100%;
    }

    .contact_container {
        padding: 3rem 2rem;
    }

    .contact_container input, .contact_container textarea {
        width: 100%;
        margin: 10px 0;
    }
}